@use "../base/grid";
@use "../base/media-queries";

.page-title-wrapper {
  @extend .grid-container;
  padding-top: var(--space-8);

  .page-title-kicker {
    @include grid.grid-column(12);
    margin-bottom: var(--space-4);
  }

  .page-title {
    @include grid.grid-column(12);
    max-width: 22ch;
    padding-bottom: 1rem;

    @include media-queries.grid-media(desktop) {
      padding-bottom: 1.5rem;
    }
  }
}
