---
layout: page
title: About
permalink: /about/
priority: 0.9
redirect_from: 
  - /now/

intro: |

  I am a full-stack product leader with over 14 years of experience shipping professional-grade software. Most recently, I held product leadership roles at Brightidea, where I led teams to build & launch B2B SaaS tools for corporate innovation management (e.g., [Brightidea Whiteboard](/projects/brightidea-whiteboard/)). 

  I am a problem solver. I studied engineering and have focused my career on user-centered design. This enables me to balance analytical and creative approaches to define, explore, and solve complex problems.

  I love figuring out new, innovative products and helping take them from zero to one. I also have extensive experience maintaining and evolving legacy products & platforms. I am a long-term, strategic thinker and get satisfaction from knowing my products are useful in the world.

  I have worked across most disciplines on a modern software development team--ranging from QA to Design to Product Management--giving me insight into balancing the different angles required to build products. I have designed applications & experiences spanning mobile, web, and desktop. As a PM, I have led teams to launch cutting-edge enterprise SaaS apps. I have conducted a variety of user research and facilitated workshops. I have developed free & experimental apps myself, so can empathize with developers and their challenges.

  I prefer to work with mission-focused companies that build creative tools to augment human imagination, creativity, innovation, and design capabilities. If you have opportunities along these lines (or generally any inventive applications of technology to empower people), [reach out](/contact) to see how we might be able to work together or collaborate.

profile_picture: /images/black-thumbnail.png

experience:
  - company: Brightidea
    position: Product Lead · Senior Product Manager · Product and Design Lead · Senior Product Designer
    period: October 2017 - March 2022

  - company: Autodesk
    position: Senior Experience Designer · Senior Product Designer
    period: March 2011 - October 2017

  - company: Blue Ridge Numerics
    position: Product Designer · Quality Assurance Engineer · Technical Support Engineer
    period: January 2008 - March 2011

  # - company: Honeywell
  #   position: Co-op
  #   period: 2004 - 2005

  - company: uTest
    position: Independent Software Test Engineer
    period: 2010 - 2012

education:
  - course: BS, Aerospace Engineering
    sub: Cum Laude, Honors Commonwealth Scholar
    place: Virginia Tech
    period: 2007

  - course: Certificate in User Experience
    sub: "#1000265"
    place: Nielsen Norman Group
    period: 2014

  - course: LUMA Certified Practitioner 
    sub: Advanced Facilitation · Advancing Innovation · Human-Centered Design
    place: LUMA Institute
    period: 2014 - 2017

  - course: Human Computer Interaction
    sub: Studio Track with Distinction
    place: Coursera/Stanford
    period: 2012

  - course: Situational Leadership Training
    place: Ken Blanchard Companies
    period: 2014

competitions:
  - event: Brightidea for Microsoft Teams
    period: 2021
    result: Devpost Project & Demo Page
    link: https://devpost.com/software/brightidea

  - event: 4D VR
    period: 2017
    result: Concept Demo Video
    link: https://drive.google.com/file/d/0B2l6aLOefFgEbW53TlB0QUdiTlU/view?usp=sharing&resourcekey=0-XFDM3CvDIzy7xHWfdWAQ6g

skills:
  - Product Management & Product Leadership
  - Product Design
  - Product Strategy
  - User Experience Design (UX)
  - User Interface Design (UI)
  - Interaction Design (IxD)
  - Information Architecture (IA)
  - User Research
  - Usability & Usability Testing
  - Innovation Management 
  - Facilitation

tools:
  - Figma
  - Balsamiq
  - Sketch
  - Adobe Creative Suite
  - Microsoft Office and Google Suite
  - Jira, Confluence, Trello
  - Digital Whiteboard (FigJam, Miro, Mural, etc.)
  - InVision
  - HTML, CSS and SASS (SCSS)
  - JavaScript & jQuery (for prototyping only)
  - Python
  - Jekyll

about_site: |
  - This static site is built with [Jekyll](https://github.com/jekyll/jekyll)

  - The theme is forked from [himatt.com](https://github.com/MattGreyDesign/himatt.com)

  - The typefaces used are
  [Playfair Display](https://fonts.google.com/specimen/Playfair+Display) and
  [Lato](https://fonts.google.com/specimen/Lato)

  - Other tools and libraries used include [SASS](http://sass-lang.com/),
  [jQuery](https://jquery.com/),
  [Headspace](https://github.com/gdub22/headspace),
  [Normalize.css](http://github.com/necolas/normalize.css), and
  [PhotoSwipe](https://photoswipe.com/) + [jQuery wrapper](https://github.com/ergec/jQuery-for-PhotoSwipe)

  - The code for generating this site is open source on
  [Github](https://github.com/arnaudin/arnaudin.github.io)

  - Although the code is opensource under the GNU General Public License v3, all text and image content is Copyrighted by [Ryan Arnaudin](https://ryanarnaudin.com/) unless otherwise specified. [Read more in the license file](https://github.com/arnaudin/arnaudin.github.io/blob/main/LICENSE)
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Ryan Arnaudin",
    "jobTitle": "Product Designer",
    "nationality": "American",
    "url": "http://www.ryanarnaudin.com/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Texas",
      "addressCountry": "United States"
    }
  }
</script>

<div class="projects-intro-wrapper">
  <p class="projects-intro type-level-1">Ryan Arnaudin</p>
</div>
<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              {% if education-item.sub %}<dd class="relational-list__description relational-list__description--period">{{ education-item.sub | markdownify}}</dd> {% endif %}
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>

        <!--<div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Hackathons</h3>
          <dl class="relational-list">
            {% for competition-item in page.competitions %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd>
              <dd class="relational-list__description"><a href="{{ competition-item.link }}">{{ competition-item.result | markdownify}}</a></dd>
            {% endfor %}
          </dl>
        </div>-->
      </div>
      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Skills</h3>
          <ul>
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="about-links">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Links</h3>
          <ul>
              <li><a href="//linkedin.com/in/{{ site.social-username.linkedin }}">LinkedIn</a></li>
              <li><a href="//angel.co/u/{{ site.social-username.angellist }}">AngelList</a></li>
              <li><a href="//twitter.com/{{ site.social-username.twitter }}">Twitter</a></li>
              <li><a href="//github.com/{{ site.social-username.github }}">Github</a></li>
              <li><a href="//dribbble.com/{{ site.social-username.dribbble }}">Dribbble</a></li>
              <li><a href="//codepen.com/{{ site.social-username.codepen }}">Codepen</a></li>
              <li><a href="//flickr.com/{{ site.social-username.flickr }}">Flickr</a></li>
              <li><a href="//strava.com/athletes/{{ site.social-username.strava }}">Strava</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--
      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    -->
    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">About This Site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
