---
layout: page
title: About
permalink: /about/
priority: 0.9
redirect_from: 
  - /now/

intro: |

  For professional and technical details, see [below](#details_section) or visit my [LinkedIn profile](//linkedin.com/in/arnaudin). In this space, I'd like to speak to the inspiration behind my design approach.

  I'm driven to design technology that empowers people to create a better world through human ingenuity.

  ## Ideas Shape the World

  > “Everything around you that you call life was made up by people that were no smarter than you and you can change it, you can influence it, you can build your own things that other people can use. Once you learn that, you’ll never be the same again.”" –Steve Jobs

  This quote resonates deeply with me. I believe we all have the potential to shape the world through our actions and ideas. As a designer and engineer, I've internalized this belief and am driven to create tools that empower others to bring their own visions to life.

  ## We Shape Our Tools and Our Tools Shape Us

  > “We become what we behold. We shape our tools and then our tools shape us” –Father John Culkin

  My career has focused on designing software applications that empower fellow creators. I find it incredibly rewarding to build solutions that solve problems and inspire new possibilities that I could not have dreamed.

  At Autodesk, I embraced the mission of "helping people imagine, design, and create a better world." I developed tools that empowered designers, engineers, and architects to shape our built environment—from vehicles and buildings to cutting-edge electronics.

  At Brightidea, we were driven by the mission "to create a world where the best ideas win." We used our own idea management product to fuel our development process, constantly pushing the boundaries of innovation methodologies. By making tools that allowed ideas to be judged on their merit, we empowered millions to leverage their creativity for real-world impact.

  ## The Power of Digital Technology

  > "What a computer is to me is it's the most remarkable tool that we've ever come up with, and it's the equivalent of a bicycle for our minds." –Steve Jobs

  Computers have been essential in my journey. I'm constantly amazed by how these machines expand our capacity for thought and creation. As computational power grows, so do the horizons of possibility. Every year, our capabilities are further augmented.

  Growing up, I experienced both the analog and digital worlds natively, witnessing firsthand the transformative speed and scale digital technology offers.

  Examples are numerous, but a few that are personal: from writing longform by hand on paper, to using a generative LLM assistant; from recording mixtapes off the radio to having immediate access to virtually every song ever recorded; from developing one photo at a time in a darkroom to having infinite storage capacity and creative freedom. This ubiquity, accessibility, and scale enabled by digitial technology leads me to the final point.

  ## Democratization Effect of Technology

  > "The democratization of technology allows anyone to be a creator, entrepreneur, scientist. The future is brighter." –Naval Ravikant 

  Evolving technology unlocks new capabilities, and the democratization effect of digital puts these capabilities into the hands of more people. Increased accessibility and affordability now allow everyone to utilize power tools that were once exclusive. 

  At Blue Ridge Numerics, we aimed to "democratize digital simulation." We provided design engineers with software tools to simulate product performance using only a CAD model and desktop computer. This was a significant shift. Previously, physical prototyping and testing took weeks, while advanced simulations took nearly as long and required dedicated specialists with high-performance computing clusters. By inventing new technology, making it easy to use, and riding the wave of Moore's Law, we empowered engineers to innovate more efficiently and effectively.

  ## Closing 

  I'm grateful to have witnessed the continuing rise of digital technology and to have played a role in the evolution of software. Building applications that harness the power of computing, networking, and data to improve the human experience has been an exciting journey.

  I'm excited to continue creating and inspiring others to do the same.  As the updated Autodesk mission states, let's "empower everyone, everywhere to design and make anything" through our actions, creations, and positive influence. The world will keep getting better in ways we can only imagine today.

profile_picture: /images/black-thumbnail.png

experience:
  - company: <a href="http://physna.com/" target="_blank">Physna</a> (<a href="http://thangs.com/" target="_blank">Thangs</a>)
    position: Lead Product Designer
    period: January 2023 - October 2024

  - company: <a href="http://brightidea.com/" target="_blank">Brightidea</a>
    position: Product Lead · Product and Design Lead · Senior Product Designer
    period: October 2017 - March 2022

  - company: <a href="http://autodesk.com/" target="_blank">Autodesk</a>
    position: Senior User Experience Designer · Senior Product Designer
    period: March 2011 - October 2017

  - company: Blue Ridge Numerics
    position: Product Design Engineer · Quality Assurance Engineer · Technical Support Engineer
    period: January 2008 - March 2011, Acquired by Autodesk

  # - company: Honeywell
  #   position: Co-op
  #   period: 2004 - 2005

  # - company: uTest
  #  position: Independent Software Test Engineer
  #  period: 2010 - 2012

education:
  - course: BS, Aerospace Engineering
    sub: Cum Laude, Honors Commonwealth Scholar
    place: Virginia Tech
    period: 2007

  - course: Certificate in User Experience
    sub: "#1000265"
    place: Nielsen Norman Group
    period: 2014

  - course: LUMA Certified Practitioner 
    sub: Advanced Facilitation · Advancing Innovation · Human-Centered Design
    place: LUMA Institute
    period: 2014 - 2017

  - course: Human Computer Interaction
    sub: Studio Track with Distinction
    place: Coursera/Stanford
    period: 2012

  - course: Situational Leadership Training
    place: Ken Blanchard Companies
    period: 2014

competitions:
  - event: Brightidea for Microsoft Teams
    period: 2021
    result: Devpost Project & Demo Page
    link: https://devpost.com/software/brightidea

  - event: 4D VR
    period: 2017
    result: Concept Demo Video
    link: https://drive.google.com/file/d/0B2l6aLOefFgEbW53TlB0QUdiTlU/view?usp=sharing&resourcekey=0-XFDM3CvDIzy7xHWfdWAQ6g

skills:
  - Product Design
  - User Experience Design (UX)
  - User Interface Design (UI)
  - Interaction Design (IxD)
  - Information Architecture (IA)
  - Product Leadership
  - Product Vision
  - Product Strategy
  - Product Management
  - User Research
  - Usability & Usability Testing
  - Innovation & Idea Management 
  - Facilitation

tools:
  - Figma
  - Balsamiq
  - Sketch
  - Adobe Creative Suite
  - Microsoft Office and Google Suite
  - Jira, Confluence, Trello
  - Digital Whiteboard (FigJam, Miro, Mural, etc.)
  - InVision
  - HTML, CSS and SASS (SCSS)
  - JavaScript & jQuery (for prototyping only)
  - Python
  - Jekyll

about_site: |
  - This static site is built with [Jekyll](https://github.com/jekyll/jekyll).
  - The theme is forked from [himatt.com](https://github.com/MattGreyDesign/himatt.com).
  - Form submission uses [staticforms.xyz](https://www.staticforms.xyz/)
  - The typefaces used are
  [Playfair Display](https://fonts.google.com/specimen/Playfair+Display) and
  [Lato](https://fonts.google.com/specimen/Lato).
  - The code for generating this site is open source on
  [Github](https://github.com/arnaudin/arnaudin.github.io).
  - Other sources and libraries used include [SASS](http://sass-lang.com/),
  [jQuery](https://jquery.com/),
  [Headspace](https://github.com/gdub22/headspace),
  [Normalize.css](http://github.com/necolas/normalize.css), and
  [PhotoSwipe](https://photoswipe.com/) + [jQuery wrapper](https://github.com/ergec/jQuery-for-PhotoSwipe).
 
  - Although the code is opensource under the GNU General Public License v3, all content (text & images, for example) is Copyrighted by [Ryan Arnaudin](https://ryanarnaudin.com/) unless otherwise specified. [Read more in the license file](https://github.com/arnaudin/arnaudin.github.io/blob/main/LICENSE).
---

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Person",
    "name": "Ryan Arnaudin",
    "jobTitle": "Product Designer",
    "nationality": "American",
    "url": "http://www.ryanarnaudin.com/",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Texas",
      "addressCountry": "United States"
    }
  }
</script>

<div class="projects-intro-wrapper">
  <p class="projects-intro type-level-1">Ryan Arnaudin</p>
</div>
<div class="about-wrapper">
  <div class="about">
    <div class="about-intro-description paragraph-normal">
      {{ page.intro | markdownify }}
    </div>

    <div class="about-attributes" id="details_section">
      <div class="about-experience">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Experience</h3>
          <dl class="relational-list">
            {% for experience-item in page.experience %}
              <dt class="relational-list__title">{{ experience-item.company | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ experience-item.period | markdownify}}</dd>
              <dd class="relational-list__description">{{ experience-item.position | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="about-education">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Education</h3>
          <dl class="relational-list">
            {% for education-item in page.education %}
              <dt class="relational-list__title">{{ education-item.course | markdownify}}</dt>
              {% if education-item.sub %}<dd class="relational-list__description relational-list__description--period">{{ education-item.sub | markdownify}}</dd> {% endif %}
              <dd class="relational-list__description">{{ education-item.place | markdownify}}</dd>
            {% endfor %}
          </dl>
        </div>

        <!--<div class="about-section about-section--nested">
          <h3 class="about-section-title type-level-2">Hackathons</h3>
          <dl class="relational-list">
            {% for competition-item in page.competitions %}
              <dt class="relational-list__title">{{ competition-item.event | markdownify}}</dt>
              <dd class="relational-list__description relational-list__description--period">{{ competition-item.period | markdownify}}</dd>
              <dd class="relational-list__description"><a href="{{ competition-item.link }}">{{ competition-item.result | markdownify}}</a></dd>
            {% endfor %}
          </dl>
        </div>-->
      </div>
      <div class="about-skills">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Expertise</h3>
          <ul>
            {% for skill in page.skills %}
              <li>{{ skill }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="about-links">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Links</h3>
          <ul>
              <li><a href="//linkedin.com/in/{{ site.social-username.linkedin }}">LinkedIn</a></li>
              <li><a href="//github.com/{{ site.social-username.github }}">Github</a></li>
              <li><a href="//twitter.com/{{ site.social-username.twitter }}">Twitter</a></li>
              <li><a href="//flickr.com/{{ site.social-username.flickr }}">Flickr</a></li>
              <li><a href="//strava.com/athletes/{{ site.social-username.strava }}">Strava</a></li>
              <!--
              <li><a href="//dribbble.com/{{ site.social-username.dribbble }}">Dribbble</a></li>
              <li><a href="//codepen.com/{{ site.social-username.codepen }}">Codepen</a></li>
          -->
          </ul>
        </div>
      </div>
    </div>
    <!--
      <div class="about-tools">
        <div class="about-section">
          <h3 class="about-section-title type-level-2">Tools &amp; technologies</h3>
          <ul class="list--dashed list--small">
            {% for tool in page.tools %}
              <li>{{ tool | markdownify }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    -->
    <div class="about-site">
      <div class="about-section about-site-description">
        <h3 class="about-section-title type-level-2">About This Site</h3>
        <div class="paragraph-small">{{ page.about_site | markdownify }}</div>
      </div>
    </div>

  </div>
</div>
