---
layout: page
title_override: Ryan Arnaudin | Product Designer | UX, User Experience, Interaction Design, Product Design, Software Design
redirect_from: 
  - /portfolio/
  - /work/
permalink: /
priority: 1.0
---

<div class="projects-intro-wrapper">
    <p class="projects-intro type-level-1">Ryan Arnaudin</p>
</div>

<div class="projects-intro-wrapper">
    <p class="projects-intro type-level-3">As a UX Designer with an aerospace engineering background, I bring a unique problem-solving approach and technical edge to creating human-centered software products.</p>
    <p class="projects-intro type-level-3">Based in Austin, I have over 15 years of experience in UX, Product Design, and Product Management across enterprise and consumer applications on all major platforms.</p>
    <br>
</div>

<div class="projects">
    {% for project in site.projects reversed limit:include.limit %}
    {% if project.ownership == "Professional" %}
        <article class="project-listing">
            <div class="thumbnail-wrapper">
                <a href="{{ project.url | prepend: site.baseurl }}">
                    <div class="thumbnail-description-wrapper">
                        <img src="{{ project.thumbnail | prepend: site.image_serve_path }}" alt="{{ project.title }}" width="600" height="450">
                        <p class="thumbnail-description">
                            <span>{{ project.description }}</span>
                        </p>
                    </div>
                    <h3 class="project-name" aria-hidden="true">{{ project.title }}</h3>
                </a>
            </div>
        </article>
    {% endif %}
    {% endfor %}
</div>
