---
layout: page
title_override: Ryan Arnaudin - Product Leader and Designer
redirect_from: 
  - /portfolio/
  - /work/
permalink: /
priority: 1.0
---

<div class="projects-intro-wrapper">
    <p class="projects-intro type-level-1">Ryan Arnaudin Design</p>
</div>

<div class="projects-intro-wrapper">
    <p class="projects-intro type-level-3">I am a product leader & designer with over 14 years of experience building professional software across Product Design, Product Management, and User Research roles.</p>
    <p class="projects-intro type-level-3">I have a passion for creating products that are useful, usable, and help make the world a better place. This has included building tools that amplify human imagination, creativity, innovation, and design capabilities with technology.</p> <!--I have designed software for engineers, architects, designers, corporate innovators, and individuals with ideas.</p>
    <p class="projects-intro type-level-3">Check out the work examples below and <a href="/contact">reach out</a> if you'd like to work together on something along these lines.</p>-->
    <br>
</div>

<div class="projects">
    {% for project in site.projects reversed limit:include.limit %}
    {% if project.ownership == "Professional" %}
        <article class="project-listing">
            <div class="thumbnail-wrapper">
                <a href="{{ project.url | prepend: site.baseurl }}">
                    <div class="thumbnail-description-wrapper">
                        <img src="{{ project.thumbnail | prepend: site.image_serve_path }}" alt="{{ project.title }}" width="600" height="450">
                        <p class="thumbnail-description">
                            <span>{{ project.description }}</span>
                        </p>
                    </div>
                    <h3 class="project-name" aria-hidden="true">{{ project.title }}</h3>
                </a>
            </div>
        </article>
    {% endif %}
    {% endfor %}
</div>
