.project-wrapper {

  //Layout
  .project-info {
    @extend .grid-container;    

    .project-details {
      @include grid-column(12);
    }
  }

  .project-intro {
    @extend .grid-container;
    @include grid-column-from-to(1,12);

    p {
      @include grid-column(12);
    }
  }

  .project-details {
      @extend .grid-container-nested-small;

      .project-detail-2 {
        @include grid-column(2);

        @include grid-media(phablet) {
          @include grid-column(2);
        }

        @include grid-media(tablet) {
          @include grid-column(2);
        }

        @include grid-media(desktop) {
          @include grid-column(2);
        }
      }

      .project-detail-3 {
        @include grid-column(2);

        @include grid-media(phablet) {
          @include grid-column(3);
        }

        @include grid-media(tablet) {
          @include grid-column(3);
        }

        @include grid-media(desktop) {
          @include grid-column(3);
        }
      }

      .project-detail-4 {
        @include grid-column(4);

        @include grid-media(phablet) {
          @include grid-column(4);
        }

        @include grid-media(tablet) {
          @include grid-column(4);
        }

        @include grid-media(desktop) {
          @include grid-column(4);
        }
      }

      .project-detail-6 {
        @include grid-column(6);

        @include grid-media(phablet) {
          @include grid-column(3);
        }

        @include grid-media(tablet) {
          @include grid-column(2);
        }

        @include grid-media(desktop) {
          @include grid-column(6);
        }
      }

      .project-detail-12 {
        @include grid-column(6);

        @include grid-media(tablet) {
          @include grid-column(3);
        }

        @include grid-media(desktop) {
          @include grid-column(6);
        }
      }
  }

  .project-text {
    @extend .grid-container;

    .project-text-wrapper {
      @include grid-column(12);

      @include grid-media(tablet) {
        @include grid-column(12);
      }

      @include grid-media(desktop) {
        @include grid-column-from-to(1,12);
      }
    }
  }

//   //Styles
  .image-wrapper {
    margin-bottom: var(--paragraph-spacing);
    
    .image-wrapper img { width: 100%; }

    figcaption {
      margin-top: rem(12px);
      margin-bottom: rem(16px);
    }
  }

.project-info {
    margin-bottom: rem(40px);
  }

  /*    
  .project-text {
    @include grid-media(desktop) {
      margin-top: var(--gutter-row);
    }
  }*/
} 

.additional-content {
  p {
    margin-bottom: 1rem;
  }
}