<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascript/jqPhotoSwipe.js"></script>
<script type="text/javascript">
    {% include javascript/site.js %}</script>
<script type="text/javascript">
    $(document).ready(function () {
		$(".fancybox").jqPhotoSwipe({
		galleryOpen: function (gallery) {
			//with `gallery` object you can access all methods and properties described here http://photoswipe.com/documentation/api.html
			//gallery.zoomTo(1, {x:gallery.viewportSize.x/2,y:gallery.viewportSize.y/2}, 500);
			gallery.toggleDesktopZoom();
			// gallery.zoomLevelObject.vFill;
		}
	});
	//This option forces plugin to create a single gallery and ignores `data-fancybox-group` attribute.
	$(".forcedgallery > a").jqPhotoSwipe({
		forceSingleGallery: true
	});
});
</script>
    