---
layout: default
title-class: post
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ page.title | jsonify }},
    "datePublished": "{{ page.originaldate | default: page.date | date_to_xmlschema }}",
    "dateModified": "{{ page.date | date_to_xmlschema }}",
    "author": {
      "@type": "Person",
      "name": "{{ page.author | default: site.myname }}",
      "url": "{{ site.url }}"
    },
    "url": "{{ site.url | append: page.url }}",
    "mainEntityOfPage": "{{ site.url | append: page.url }}"{% if page.blurb %},
    "description": {{ page.blurb | jsonify }}{% endif %}
  }
</script>

<article class="post-wrapper">

    <div class="post-info">
        <div class="post-detail-wrapper">
            {% if page.date %}
                <p class="post-date">
                    {%- if page.originaldate -%}
                        Originally published {{ page.originaldate | date: "%B %-d, %Y" }}
                    {%- else -%}
                        {{ page.date | date: "%B %-d, %Y" }}
                    {%- endif -%}
                </p>
            {% endif %}

            {% if page.website.url %}
                <p class="post-website"><a href="{{ page.website.url }}" class="button-secondary">{{ page.website.button_text }}</a></p>
            {% endif %}
        </div>
    </div>

    {% if page.intro %}
        <section class="post-intro paragraph-normal">{{ page.intro | markdownify }}</section>
    {% endif %}

    {% for entry in page.content_layout %}
        {% include layout.html eager=forloop.first %}
    {% endfor %}

    {% assign body = content | strip %}
    {% if body != "" %}
        <section class="additional-content-wrapper">
            <div class="additional-content paragraph-normal">
                {{ content }}
            </div>
        </section>
    {% endif %}
</article>
