a {
  color: var(--color-text);
}

main p a,
main h1 a,
main h2 a,
main h3 a,
main li a,
.formatted-link {
  text-decoration: none;
  color: var(--color-cta);
  border-bottom: rem(1.2px) dashed;
  border-bottom-color: transparent;

  &:hover {
    border-bottom-color: var(--color-cta);
  }
}

.project-listing:hover .project-name {
  text-decoration: none;
  color: var(--color-cta);
  transition: 200ms ease;
}
