@use "media-queries";
@use "mixins-functions";

:root {
  --font-size-root: 16px;

  --line-height-regular: 1.5;
  --line-height-tight: 1.3;
  --line-height-tiny: 1.2;

  --font-size-xsmall: #{mixins-functions.rem(12px)};
  --font-size-small: #{mixins-functions.rem(14px)};
  --font-size-normal: #{mixins-functions.rem(16px)};
  --font-size-large: #{mixins-functions.rem(18px)};
  --font-size-xlarge: #{mixins-functions.rem(20px)};
  --font-size-xxlarge: #{mixins-functions.rem(24px)};
  --font-size-xxlarge-2: #{mixins-functions.rem(28px)};
  --font-size-xxxlarge:#{mixins-functions.rem(32px)};
  --font-size-xxxxlarge: #{mixins-functions.rem(40px)};
  --font-size-xxxxxlarge: #{mixins-functions.rem(56px)};
  --font-size-xxxxxxlarge: #{mixins-functions.rem(72px)};

  --font-size-level-jumbo: var(--font-size-xxxxlarge);
  --font-size-level-1: var(--font-size-xxxxlarge);
  --font-size-level-2: var(--font-size-xxxlarge);
  --font-size-level-3: var(--font-size-xxlarge);
  --font-size-level-4: var(--font-size-large);
  --font-size-body: var(--font-size-large);
  --font-size-body-tiny: var(--font-size-xsmall);
  --font-size-body-small: var(--font-size-normal);
  --font-size-body-large: var(--font-size-large);
  --font-size-body-huge: var(--font-size-xxlarge);

  --font-size-button: var(--font-size-large);
  --font-size-form-label: var(--font-size-xlarge);
  --font-size-nav: var(--font-size-xlarge);

  --font-letter-spacing-subtle: .06rem;

  --paragraph-spacing: 1.3rem;

  --gutter: #{mixins-functions.rem(24px)};
  --gutter-row: #{mixins-functions.rem(24px)};
  --page-margin: #{mixins-functions.rem(32px)};
  --inner-padding: #{mixins-functions.rem(16px)};
  --inner-padding-horizontal: #{mixins-functions.rem(10px)};

  --color-primary: 30, 30 ,30;
  --color-secondary: 255, 255, 255;
  --color-tertiary: 36, 96, 109;

  // Links
  --color-action: #24606D;

  --color-highlight-rgb: var(--color-tertiary);
  --color-highlight: rgb(var(--color-highlight-rgb));
  --color-text-highlight: rgb(var(--color-secondary));

  --color-background: rgba(var(--color-secondary), 1);
  --color-background-rgb: var(--color-secondary);
  --color-line: rgba(var(--color-primary), var(--color-rgb-opacity-tint-mid));
  --color-line-subtle: rgba(var(--color-primary), var(--color-rgb-opacity-tint-light));
  --color-text: rgba(var(--color-primary),.95);
  --color-form-background: rgba(var(--color-primary),.10);
  --color-text-inverted: rgba(var(--color-secondary),.95);

  --color-cta: var(--color-action);

  --color-rgb-opacity-tint-light: .1;
  --color-rgb-opacity-tint-mid: .6;
  --color-rgb-opacity-tint-dark: .85;
}

@include media-queries.grid-media(tablet) {
  :root {
    --line-height-tight: 1.24;
    --line-height-slight: 1.45;

    --font-size-level-jumbo: var(--font-size-xxxxxlarge);
    --font-size-level-1: var(--font-size-xxxxxlarge);
    --font-size-level-2: var(--font-size-xxxxlarge);
    --font-size-body: var(--font-size-xlarge);
    --font-size-body-large: var(--font-size-xxlarge);
    --font-size-body-huge: var(--font-size-xxxlarge);

    --page-margin: #{mixins-functions.rem(64px)};
  }
}

@include media-queries.grid-media(desktop) {
  :root {
    --font-size-root: 17px;
    --font-size-level-jumbo: var(--font-size-xxxxxxlarge);
    --font-size-body: var(--font-size-xlarge);
    --font-size-body-large: var(--font-size-xxlarge-2);
    --font-size-body-huge: var(--font-size-xxxxlarge);

    --gutter: #{mixins-functions.rem(32px)};
    --gutter-row: #{mixins-functions.rem(32px)};
  }
}

@include media-queries.grid-media(largedesktop) {
  :root {
    --font-size-root: 20px;
    --page-margin: #{mixins-functions.rem(128px)};
  }
}

/*
 * GEOMETRY
 */

//Base
$measure-xxxsmall: mixins-functions.rem(4px);
$measure-xxsmall: mixins-functions.rem(8px);
$measure-xsmall: mixins-functions.rem(12px);
$measure-small: mixins-functions.rem(20px);
$measure-normal: mixins-functions.rem(28px);
$measure-medium: mixins-functions.rem(32px);
$measure-large: mixins-functions.rem(64px);

/*
 * GEOMETRY
 */

$timing-interaction: .2s;
